# ─── Twitch ───────────────────────────────────────────
# Token OAuth de Twitch — puedes dejarlo vacío para modo anónimo (solo lectura, pero no podrán usar comando !sonidos)
# Para obtenerlo: https://twitchtokengenerator.com (Access Token)
TWITCH_OAUTH_TOKEN=TU_TOKEN
